.Conversor {
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

input, select {
    width: 250px;
    height: 30px;
    border: 1px solid lightblue;
    outline: none;
}

select {
    width: 100px;
    margin-left: 1rem;
    letter-spacing: 1px;
    border: 0 1px;
    
}

span {
    color: crimson;
    font-size: 2em;
    font-weight: 900;
}

button {
    margin-top: 2rem;
    width: 150px;
    height: 2.25rem;
    border: 1px solid rgb(6, 248, 66);
    color: white;
    background: rgb(6, 248, 66);
    outline: none;
    font-size: medium;
    font-weight: bold;
    margin-left: 0.50rem;
    border-radius: 2rem;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.9);
    
}

.btn-limpar {
    margin-top: 2rem;
    width: 150px;
    height: 2.25rem;
    border: 1px solid rgb(255,10,35);
    color: white;
    background: rgb(255,10,35);
    outline: none;
    font-size: 0.90rem;
    font-weight: bold;
    margin-left: 2rem;
    border-radius: 2rem;
    cursor: pointer;
}